// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Datatables.net
// @import "~datatables.net-bs/css/dataTables.bootstrap";
// @import "~datatables.net-responsive-bs/css/responsive.bootstrap";

@import "~metismenu/src/metisMenu";
@import "~morris.js/morris";

// SB Admin 2
@import "~startbootstrap-sb-admin-2/css/sb-admin-2";

// Font-Awesome
@import "~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min";

